# Dependency directories
node_modules/
jspm_packages/

# Environment files containing secret API keys
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Operating system junk files
.DS_Store
Thumbs.db
